/*
Site Name: Tenuto
Author: Mallory Burke
Author URI: https://www.malloryburke.com
Description: Portfolio, Creative Website
Version: 1.0
*/
/*
----------------------------------------------------------------
Made with love by Mallory | https://www.malloryburke.com
----------------------------------------------------------------

1) RESET, BOOTSTRAP STYLING, general
2) VARIABLES
3) MIXINS
4) GLOBAL STYLES
5) HOME
5) NAVIGATION
6) SECTIONS
7) SERVICES
8) WORKS
9) GALLERY
10) TEAM
11) CONTACT
12) FOOTER
13) CAROUSELS
14) BUTTONS
--------------
*/
/* CSS-RESET, BOOTSTRAP STYLING */
/*  DEFINE VARIABLES */
/* DEFINE VARIABLES & MIXINS */
/* Serve images optimized for retina screens */
/*  GLOBAL STYLES  */
main {
  position: relative;
  height: 100%; }

/* Typography, headings */
div.container-fluid {
  padding: 0; }

div.row {
  margin: 0; }

body {
  font-family: "Raleway";
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px; }

.col-lg-12 h2 + h6 {
  margin-bottom: 100px;
  color: gray;
  text-transform: none;
  padding: 0 60px; }

ul li {
  list-style-type: none; }

a {
  text-decoration: none;
  text-align: center; }
  a:hover {
    text-decoration: none; }

a.link {
  display: inline-block;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 15px;
  border: 1px solid black;
  background-color: white;
  margin: 20px;
  letter-spacing: 2px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
  @media (max-width: 767px) {
    a.link {
      margin: 5px; } }
  a.link:hover {
    background-color: black;
    color: white;
    font-weight: bolder;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }

/* Navbar styling */
nav#navbarSpy {
  margin: 0 auto;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  color: black; }

footer.row {
  background-color: #313139;
  margin: 0;
  text-align: center; }
  footer.row ul {
    padding: 50px 0 0; }
    footer.row ul li {
      display: inline-block;
      padding: 9px; }

/*  PAGE: HOME & NAVIGATION  */
/* Navbar styling */
ul.nav {
  right: 25px;
  background-color: #fff; }
  @media (max-width: 767px) {
    ul.nav {
      right: 0;
      width: 100%;
      text-align: center;
      display: block; } }

/* Header Carousel Styling */
svg {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0; }

header.row.heading svg {
  fill: white;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  header.row.heading {
    background: url("../imgs/carousel1/bh10@2x.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

.carousel-inner, .carousel-item {
  min-height: 800px; }
  .carousel-inner div.caption, .carousel-item div.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 60px;
    background: black;
    opacity: 0.8;
    letter-spacing: 4px; }
    .carousel-inner div.caption h3, .carousel-item div.caption h3 {
      font-size: 50px;
      text-transform: uppercase; }
    .carousel-inner div.caption h6, .carousel-item div.caption h6 {
      margin-top: 40px;
      color: gray;
      letter-spacing: 3px;
      font-size: 24px;
      font-weight: lighter; }

/* Section Styling */
section.row {
  margin: 150px 0 0; }

/* Welcome Section */
section#welcome.row {
  text-align: center; }
  section#welcome.row h2.welcome {
    margin: 45px auto;
    letter-spacing: 3px;
    line-height: 1.75;
    font-weight: light; }
    section#welcome.row h2.welcome + p {
      padding: 20px;
      text-align: center;
      line-height: 1.5; }

/* Portfolio Flexbox Display */
section#portfolio.row {
  padding: 0; }
  section#portfolio.row div.col-lg-12.col-lg-offset-1.portfolio-outer {
    padding: 0; }

article.portfolio-outer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex; }

article.wrap.p-2 {
  overflow: hidden;
  position: relative;
  padding: 0 !important; }
  article.wrap.p-2 h3 {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 50% 0;
    z-index: -1;
    -webkit-transition-property: z-index;
    -moz-transition-property: z-index;
    -ms-transition-property: z-index;
    -o-transition-property: z-index;
    transition-property: z-index;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }
  article.wrap.p-2 img {
    max-width: 100%;
    -webkit-transform: scale(1);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -webkit-transform;
    -ms-transition-property: -webkit-transform;
    -o-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }
  article.wrap.p-2:hover img {
    -webkit-transform: scale(1.5);
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }
  article.wrap.p-2:hover h3 {
    z-index: 10;
    background-color: #313139;
    -webkit-transition-property: z-index;
    -moz-transition-property: z-index;
    -ms-transition-property: z-index;
    -o-transition-property: z-index;
    transition-property: z-index;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -ms-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }

/* Services Styling */
section#services.row ul.col-lg-12 {
  padding: 0; }

li.service {
  text-align: center;
  padding: 60px; }
  li.service#firstService {
    background-color: #313139;
    color: #F2F2F5; }
  li.service#secondService {
    background-color: #FF512F; }
  li.service#thirdService {
    background-color: #f39c12; }
  li.service#fourthService {
    background-color: #F2F2F5; }
    li.service#fourthService:hover {
      color: #28282E; }
  li.service:hover {
    color: white;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }
    li.service:hover h4 {
      transform: scale(1.5);
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -ms-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -ms-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      -webkit-transition-delay: 0;
      -moz-transition-delay: 0;
      -ms-transition-delay: 0;
      -o-transition-delay: 0;
      transition-delay: 0; }
    li.service:hover i.fa {
      transform: scale(0.5);
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -ms-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -ms-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      -webkit-transition-delay: 0;
      -moz-transition-delay: 0;
      -ms-transition-delay: 0;
      -o-transition-delay: 0;
      transition-delay: 0; }
  li.service i.fa {
    padding: 45px;
    margin: 25px auto;
    border: 1px solid #28282E;
    border-radius: 50%;
    background-color: #28282E;
    color: white;
    font-size: 45px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }
  li.service h4 {
    font-size: 16px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }
  li.service h5 {
    font-size: 16px;
    text-transform: none;
    padding: 10px 30px 30px 30px;
    line-height: 1.5; }

/* Blog Section */
section#blog.row ul, section#blog.row li {
  padding: 0; }

article.blog h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* Team Section Styling */
section#about div.col-lg-12 {
  padding: 0; }
section#about .row {
  margin-bottom: 0; }
  section#about .row div.col-lg-6.col-md-12 {
    padding: 0;
    overflow: hidden; }
    section#about .row div.col-lg-6.col-md-12 img {
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -ms-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -ms-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      -webkit-transition-delay: 0;
      -moz-transition-delay: 0;
      -ms-transition-delay: 0;
      -o-transition-delay: 0;
      transition-delay: 0; }
    section#about .row div.col-lg-6.col-md-12 div.title-text {
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -ms-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.25s;
      -moz-transition-duration: 0.25s;
      -ms-transition-duration: 0.25s;
      -o-transition-duration: 0.25s;
      transition-duration: 0.25s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -ms-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      -webkit-transition-delay: 0.25s;
      -moz-transition-delay: 0.25s;
      -ms-transition-delay: 0.25s;
      -o-transition-delay: 0.25s;
      transition-delay: 0.25s; }
      section#about .row div.col-lg-6.col-md-12 div.title-text h3 {
        color: #f39c12; }
    section#about .row div.col-lg-6.col-md-12:hover img {
      -webkit-transform: scale(1.3);
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -webkit-transform;
      -ms-transition-property: -webkit-transform;
      -o-transition-property: -webkit-transform;
      transition-property: -webkit-transform;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -ms-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      -webkit-transition-delay: 0;
      -moz-transition-delay: 0;
      -ms-transition-delay: 0;
      -o-transition-delay: 0;
      transition-delay: 0; }
    section#about .row div.col-lg-6.col-md-12:hover div.title-text {
      z-index: 5;
      background-color: #313139;
      color: white;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -ms-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.25s;
      -moz-transition-duration: 0.25s;
      -ms-transition-duration: 0.25s;
      -o-transition-duration: 0.25s;
      transition-duration: 0.25s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -ms-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      -webkit-transition-delay: 0.25s;
      -moz-transition-delay: 0.25s;
      -ms-transition-delay: 0.25s;
      -o-transition-delay: 0.25s;
      transition-delay: 0.25s; }
  section#about .row div.row {
    padding: 0;
    margin: 0; }
  section#about .row img {
    width: 100%; }
  section#about .row div.title-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    padding: 35% 0 0;
    z-index: -1;
    -webkit-transition-property: z-index;
    -moz-transition-property: z-index;
    -ms-transition-property: z-index;
    -o-transition-property: z-index;
    transition-property: z-index;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
    text-align: center; }
    section#about .row div.title-text ul.social {
      padding-left: 0; }
      section#about .row div.title-text ul.social li {
        display: inline-block;
        padding: 08px; }

/* Contact Styling */
section#contact.row {
  margin-top: 0; }
  section#contact.row div.col-lg-12 {
    padding: 0; }
  section#contact.row .box {
    padding: 25px 0;
    text-align: center; }
    section#contact.row .box input, section#contact.row .box textarea {
      color: white;
      margin: 20px;
      border: none;
      border-bottom: 2px solid white;
      background-color: transparent;
      display: block;
      width: 90%; }
      section#contact.row .box input:focus, section#contact.row .box textarea:focus {
        color: white;
        border-color: green;
        outline-offset: 0;
        outline-color: tranpsarent;
        outline-style: none;
        outline-width: none;
        -webkit-transition-property: border-color;
        -moz-transition-property: border-color;
        -ms-transition-property: border-color;
        -o-transition-property: border-color;
        transition-property: border-color;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -ms-transition-duration: 1s;
        -o-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -ms-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s; }
    section#contact.row .box input[type="submit"] {
      border: 2px solid white;
      margin: 50px auto;
      padding: 15px;
      max-width: 250px; }
      section#contact.row .box input[type="submit"]:hover {
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -ms-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        background-color: white;
        border: 2px solid white;
        color: black; }
    section#contact.row .box p {
      margin: 40px 20px 20px; }
    section#contact.row .box:first-of-type {
      background-color: #F2F2F5; }
    section#contact.row .box:last-of-type {
      background-color: #313139; }
      @media (max-width: 767px) {
        section#contact.row .box:last-of-type {
          margin-bottom: 80px;
          padding: 70px 0; } }

/* Footer SVG Styling */
section#footerMask {
  margin-bottom: 0; }
  section#footerMask svg:last-of-type {
    background-color: #313139;
    fill: white;
    transform: rotate(180deg); }

/*# sourceMappingURL=styles.css.map */
