/*
Site Name: Tenuto
Author: Mallory Burke
Author URI: https://www.malloryburke.com
Description: Portfolio, Creative Website
Version: 1.0
*/
/*
----------------------------------------------------------------
Made with love by Mallory | https://www.malloryburke.com
----------------------------------------------------------------

1) RESET, BOOTSTRAP STYLING, general
2) VARIABLES
3) MIXINS
4) GLOBAL STYLES
5) HOME
5) NAVIGATION
6) SECTIONS
7) SERVICES
8) WORKS
9) GALLERY
10) TEAM
11) CONTACT
12) FOOTER
13) CAROUSELS
14) BUTTONS
--------------
*/
/* CSS-RESET, BOOTSTRAP STYLING */
/*  DEFINE VARIABLES */
/* DEFINE VARIABLES & MIXINS */
/* Serve images optimized for retina screens */
/*  GLOBAL STYLES  */
/* Typography, headings */
body {
  font-family: "Raleway";
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px; }

.col-lg-12 h2 + h6 {
  margin-bottom: 100px;
  color: gray;
  text-transform: none;
  padding: 0 60px; }

ul li {
  list-style-type: none; }

a {
  text-decoration: none;
  text-align: center; }
  a:hover {
    text-decoration: none; }

a.link {
  color: black;
  text-transform: uppercase;
  padding: 15px;
  border: 1px solid black;
  background-color: white;
  margin: 20px auto;
  letter-spacing: 2px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
  a.link:hover {
    background-color: black;
    color: white;
    font-weight: bolder;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }

/* Navbar styling */
nav#navbarSpy {
  margin: 0 auto;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  color: black; }

/*  PAGE: HOME & NAVIGATION  */
/* Navbar styling */
ul.nav {
  position: absolute;
  right: 25px; }
  @media (min-width: 768px) {
    ul.nav {
      right: 0; } }

/* Scrollspy Styling */
main {
  position: relative;
  height: 100%;
  overflow-y: scroll; }

/* Header Carousel Styling */
header.row.heading {
  background: url("../imgs/carousel1/bh10.jpg") no-repeat center center scroll;
  height: 100%; }
  header.row.heading svg {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    fill: white; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    header.row.heading {
      background: url("../imgs/carousel1/bh10@2x.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      -o-background-size: cover;
      background-size: cover; } }

.carousel-inner, .carousel-item {
  min-height: 800px; }
  .carousel-inner div.caption, .carousel-item div.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 60px;
    background: black;
    opacity: 0.8;
    letter-spacing: 4px; }
    .carousel-inner div.caption h3, .carousel-item div.caption h3 {
      font-size: 50px;
      text-transform: uppercase; }
    .carousel-inner div.caption h6, .carousel-item div.caption h6 {
      margin-top: 40px;
      color: gray;
      letter-spacing: 3px;
      font-size: 24px;
      font-weight: lighter; }

/* Section Styling */
section.row {
  margin: 150px 0; }

/* Welcome Section */
h2.welcome {
  margin: 45px auto;
  letter-spacing: 3px;
  line-height: 1.75;
  font-weight: light; }
  h2.welcome + p {
    padding: 20px;
    text-align: center;
    line-height: 1.5; }

/* Portfolio Flexbox Display */
article.portfolio-outer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex; }

article.wrap.p-2 {
  position: relative; }
  article.wrap.p-2 h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/* Services Styling */
li.service {
  text-align: center;
  padding: 60px; }
  li.service#firstService {
    background-color: #313139;
    color: #F2F2F5; }
  li.service#secondService {
    background-color: #FF512F; }
  li.service#thirdService {
    background-color: #f39c12; }
  li.service#fourthService {
    background-color: #F2F2F5; }
    li.service#fourthService:hover {
      color: #28282E; }
  li.service:hover {
    color: white;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }
    li.service:hover h4 {
      transform: scale(1.5);
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -ms-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -ms-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      -webkit-transition-delay: 0;
      -moz-transition-delay: 0;
      -ms-transition-delay: 0;
      -o-transition-delay: 0;
      transition-delay: 0; }
    li.service:hover i.fa {
      transform: scale(0.5);
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -ms-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -ms-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      -webkit-transition-delay: 0;
      -moz-transition-delay: 0;
      -ms-transition-delay: 0;
      -o-transition-delay: 0;
      transition-delay: 0; }
  li.service i.fa {
    padding: 45px;
    margin: 25px auto;
    border: 1px solid #28282E;
    border-radius: 50%;
    background-color: #28282E;
    color: white;
    font-size: 45px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }
  li.service h4 {
    font-size: 16px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }
  li.service h5 {
    font-size: 16px;
    text-transform: none;
    padding: 10px 30px 30px 30px;
    line-height: 1.5; }

/* Blog Section */
section#blog.row ul, section#blog.row li {
  padding: 0; }

article.blog h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* Team Section Styling */
section#about.row div {
  padding: 0; }
section#about.row img {
  width: 100%; }
section#about.row .team-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 90px; }
  section#about.row .team-title ul.social {
    padding-left: 0; }
    section#about.row .team-title ul.social li {
      display: inline-block;
      padding: 08px; }

/*# sourceMappingURL=styles.css.map */
