/* Typography, headings */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  // text-transform: uppercase;
}
ul li {
  list-style-type: none;
}
a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
}
